<% if !session[:user_id] %>
  <a href="/auth/google_oauth2">
    <%= image_tag "google.png", class:"main-img" %><br>
    <h1 class="heading">Click here to login with Google</h1>
  </a>
<% else %>
  <a href="/logout">
    <%= image_tag "google.png", class:"main-img" %><br>
    <h1 class="heading">Click here to logout</h1>
  </a>
<% end %>