<%= image_tag "logo.png", class:"main-img" %>
<h1 class="title mb-4">News<span class="title">App</span> Edit</h1>

<!-- Add validation, only logged_in users can edit -->
<% if session[:user_id] %>
  <div class="text-center mx-auto yield">
    <%= render 'form', noticium: @noticium %>
    <%= link_to "Destroy", noticium_path(@noticium), method: :delete, data: {confirm: "Are you sure?"}, class:"btn btn-outline-danger mt-3" %>
  </div>
<% else %>
  <div>
    <p>You don't have access to this.</p>
    <p>Login to add news.</p>
    <a class="btn btn-outline-danger" href="/login">Login</a>
  </div>
<% end %>