<%= image_tag "logo.png", class:"main-img mb-3" %>
<h1 class="title mb-4">News<span class="title">App</span></h1>
<div class="text-center mx-auto yield">
  <%= render 'form', noticium: @noticium %>
</div>