<nav class="navbar navbar-expand-lg navbar-light px-5">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">
      <h1 class="title heading">News<span class="title">App</span></h1>
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbar">
      <div class="navbar-nav me-auto">
        <a class="nav-link lower" aria-current="page" href="/noticia/new">Add new</a>
      </div>
      <!-- if user is logged in, add log out button -->
      <% if session[:user_id] %>
        <div class="navbar-nav">
          <a class="nav-link lower" style="color:#dc3545;" aria-current="page" href="/logout">Log out</a>
        </div>
      <% end %>
    </div>
  </div>
</nav>